@tailwind base;
@tailwind components;
@tailwind utilities;

/* تحسينات إضافية */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #0f766e;
  border-radius: 10px;
}
